/**** Begin Default Theme Styles **************************************************/

body {
	color: #555;
	background: #FFFFFF;
}
a { 
	color: #215B86; 
	text-decoration: underline;
}
a:hover {
	color: #3F3F3F; 
	text-decoration: none;
}
a.selected { 
	color: #215B86; 
	text-decoration: none;
}
h1, h2, h3 {
	font-family: Georgia, Times, Serif;
}
	h2 {
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 15px;
		color:#1B5682;
	}
#page{
	width:970px;
	margin:0 auto;
	background:#F4F4F4;
	color:#4D4948;
	padding:0 10px 0 10px;
}
.padder{padding:0 5px;}
div.dir-search {
	margin:-42px 0 0;
}
div.object-nav a{color:#fff;}
div#sidebar h3.widgettitle {
	background:url("../images/title_bg.gif") no-repeat scroll left bottom #28669C;
	margin:0px -20px 10px 0;
	padding:5px 8px 18px 15px;
	
}
div.item-list-tabs{color:#fff;}
ul#nav li.selected a, ul#nav li.current_page_item a {
	background:none;
	color:#555555;
}
div.item-list-tabs ul li a {
	font-weight:bold;
	text-decoration:none;
}
div.item-list-tabs ul li a{
background:#fff;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
}
div.pagination{
	margin:-15px 0 9px;
	padding:10px 0px;
}
/** for nav user nav***/
div.item-list-tabs {
	background:none repeat scroll 0 0 #154E75;
	clear:left;
	margin:25px 1px 20px;
	overflow:hidden;
}
div#subnav.item-list-tabs  {
	background:none repeat scroll 0 0 #FFFFFF;
	border-bottom:1px solid #EAEAEA;
	margin:-15px 0 15px;
	min-height:35px;
	overflow:hidden;
}
/*** Search / Login Bar ************************************************/

#search-login-bar {
	overflow: hidden;
	width: 100%;
}
	#search-login-bar #search-form {
		float: left;
		margin-top: 1px;
		padding: 7px 20px;
	}
	#search-login-bar input,#search-login-bar select{
	}
		#search-login-bar #search-terms {
			width: 200px;
			margin-right: 4px;
			color: #888;
		}

		#search-login-bar #search-which {
			margin-right: 2px;
		}

	#search-login-bar #login-form, #logout-link {
		float: right;
		padding: 7px 20px;
	}
	
	#logout-link img {
		vertical-align: middle;
	}
	
	#search-login-bar #rememberme { display: none; }


/*** Header ************************************************************/

#header {
	overflow: auto;
	width: 100%;
	background: url(../images/heder_bg.gif) repeat-x;
	height:101px;
}
	

	#header h1#logo { 
		float: left;
		margin: 20px 0 15px 20px;
		padding: 15px 0;
		
	}
	
	#header h1#logo a {
		font-size: 2em;
		color: #aaa;
		font-style: italic;
		font-family: Georgia, times, serif;
		display: block;
		
	} 
	#menu{
	background:url(../images/top-nav_bg.gif) repeat-x;
	height:44px;
	margin:10px 0px;
	
	}
		#menu-r-corner,#menu-l-corner{
		height:44px;
		width:7px;
		margin:0px 0px;
		}
		#menu-l-corner{
		background:url(../images/top-nav_lrc.gif) no-repeat;
		float:left;
		}
		
		#menu-r-corner{
		background:url(../images/top-nav_rrc.gif) no-repeat;
		float:right;
		}
	
	#menu ul#nav {
		float: left;
		margin: 10px 20px 10px 0;
		position:relative;
	}
	
		#menu ul li {
			background:url(../images/nav_divider.gif) no-repeat right center;			
		}
			#menu ul li a {				
				color: #3F3F3F;
				padding: 2px 25px;				
				font-family:Georgia, "Times New Roman", Times, serif;
				font-size:16px;
				background:none;
			
			}
			
			#menu ul li a:hover{				
				color: #1F5984;		
			}
			
			#menu ul li.selected a {				
				color: #1F5984;
				font-weight: bold;
			}


/*** Content Box *************************************************************/
	
.directory #container{
	background:#fff;
}

/*** User Navigation Bar *****************************************************/
		p.avatar img {
			border: 4px solid #fff;
		}
			img#avatar-to-crop { border: none !important; }
	
			
/*** Internal Page Left Menu / Main Column **************************************/
		
div.content .left-menu {
	position: relative;
	float: left;
	width: 160px;
}
	.left-menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.left-menu h5 { margin: 0; font-size: 1em; }
	
	.left-menu div.button-block {
		margin: 20px 0;
	}
	
	.left-menu input { width: 90%; }

p.submit { margin-top: 20px; }

/*** Internal Page Items ********************************************************/
ul.item-list {
	list-style: none;
	margin: 10px 10px 0 10px;
	background:#DCDCDE;
	width:auto;
}
	ul.item-list li {
		padding: 10px 10px 10px 10px;
		overflow: hidden;
		border:1px solid #DCDCDE;
		border-bottom:1px solid #DCDCDE;/*** override for bp-default**/
	}
	
	ul.item-list img.avatar {
		float: left;
		margin-right: 10px;
	}
		
	
	ul.item-list li .desc {
		font-size: 0.9em;
		color: #888;
		margin: 10px 10px 0 68px;
	}
		#group-dir-list .desc { margin-right: 200px; }

div.action {
	position: absolute;
	right: 15px;
	top: 15px;
	text-align: right;
}

div#avatar-crop-pane {
	display: none;
}

div#avatar-crop-submit {
	margin: 20px 0 0 0;
}


a.page-numbers:hover { background: #e1e1e1; }

	.pagination-links .current {
		background: #F1F1F1;
		border-bottom: 2px solid #144D73;
	}
	
.pag-count {
	font-size: 0.9em;
	color: #888;
	width: 60%;
	margin-left:15px;
}

/*** Feedback Messages *******************************************************/

#message {
	background: url(../images/updated_back.gif) top left repeat-x #ddffc4;
	margin: 0 0 2em 0;
}
	#message p {
		color: #357c00;
		padding: 1em 2.75em;
		background: url(../images/updated_icon.gif) 1em 1.1em no-repeat;
	}

#message .error {
	background-image: url(../images/error_back.gif);
	background-color: #ff3a3a;
	color: #fff;
}
	#message .error p {
		background-image: url(../images/error_icon.gif);
		color: #fff;
	}

#message .info {
	background-image: none;
	background-color: #fcfcd0;
	color: inherit;
}
	#message .info p {
		background-image: url(../images/info_icon.gif);
		color: inherit;
		background-repeat:no-repeat;
		padding-left: 3.3em;
	}

/*** Button Styles **********************************************************/
a.button, input[type="submit"], input[type="button"], ul.button-nav li a, div.generic-button a {
-moz-border-radius:3px 3px 3px 3px;
background:none repeat scroll 0 0 #154E75;
color:#FFFFFF;
font-weight:bold;
}
a.button:hover, a.button:focus, input[type=submit]:hover, input[type=button]:hover,
	ul.button-nav li a:hover, ul.button-nav li.current a,
	div.generic-button a:hover {
		color: #E4F3FF;
		outline: none;
	}

.generic-button a {
	display: block;
	color: #FFF;
	font-size: 0.9em;
	padding: 2px 36px 8px 12px;
	text-decoration: none;
	
}


	.accept a { background-image: url(../images/accept_button_side.gif); }
	.reject a { background-image: url(../images/reject_button_side.gif); }
	

a.item-button {
	border: 1px solid #eee;
	background: #f5f5f5;
	color: #999;
	padding: 0 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.8em;
	text-decoration: none;
}
	a.item-button:hover {
		border-color: #163856;
		color: #777;
	}

	.activity-list li a.item-button {
		display: none;
		background:#28669C;
		color:#FFFFFF;
	}
		

	.activity-list li:hover a.item-button, .item-list li:hover a.item-button {
		display: inline;
	}

/*** Standard Form Styles ***************************************************/

form.standard-form { }

	form.standard-form label, form.standard-form span.label {
		margin: 10px 0 5px 0;
	}
	
	form.standard-form input[type=text] {
		width: 65%;
	}

	form.standard-form textarea {
		width: 65%;
	}
	
	form.standard-form .checkbox label, form.standard-form .radio label {
		font-weight: normal;
		display: inline;
	}


/*** Home Widgets ************************************************************/

.widget {
	padding: 0 0 10px 0;
	background:#FFF;
	margin-bottom:10px;
}
h3.widgettitle, .directory h3, h2.pagetitle ,.group-create h3{
	padding:5px 8px 18px 15px;	
	border: none;
	font: normal 1.4em "Georgia", "Georgia", Georgia,Times,Serif !important;
	font-weight:normal;
	letter-spacing:.5px;
}

	h3.widgettitle a {
		text-decoration: none;
		color: #555;
	}
	h3.widgettitle a.rss-image {
		color:#555555;
		float:right;
		margin-top:-17px;
		text-decoration:none;
	}

	h3.widgettitle img {
		vertical-align: middle;
		margin-right: 4px;
	}

	.widget_bp_core_welcome_widget h2 {
		background: url(../images/title_bg.gif) left bottom no-repeat !important;
		color: #fff !important;
	}

.widget ul.item-list li, .activity-list {
	padding: 10px 0px 5px 10px;
	border:1px solid #E8E8E8;
}

.activity-list {
	border:none;
}
	.widget ul.item-list {
		margin-top: 5px !important;
	}
	
	.widget ul.item-list li .item-avatar img, img.avatar {
		border: 3px solid #ddd;
	}
	
	.widget ul.item-list li h4.item-title {
		font: normal 1.4em "Georgia", Times, serif;
		margin: 0 0 7px 0;	
	}
	
	.widget_bp_blogs_widget_recent_posts img.avatar {
		width: 50px !important;
		height: 50px !important;
	}	
		
	.widget ul.item-list li .item-meta {
		font: normal 1em "Georgia", Times, serif;
		margin: 10px 0;
	}
	
	.widget .item-options,div#sidebar div.item-options  {
		text-align: right;
		font-size: 0.9em;
		margin: -10px 15px 0 0;
	}
	
	.widget_bp_core_widget_whos_online .item-avatar {
		float: left;
		margin-right: 10px;
	}


div.create-account {
	margin: 10px 15px 0 0;
	text-align: right;
}
	
.widget-error {
	padding: 10px;
	background: #fff9df;
}

span.activity, .message-metadata small {
	color: #4D4948;
	background:url(../images/activity-bg.gif) repeat-x center;
	padding: 4px 4px 4px 4px;
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	border-top: 1px solid #B7B7B7;
	border-left: 1px solid #B7B7B7;
	display: inline-block;
	font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
	max-width: 60%; 
}

div.avatar-block {
	padding: 0 15px;
}

.bp_core_widget_whos_online img {
	margin-bottom: 15px !important;
}

.widget table#wp-calendar {
	width: 100%;
}

.widget table#wp-calendar caption {
	text-align: center;
	font-size: 1.2em;
	font-family: georgia, times, serif;
	padding-bottom: 10px;
}

.widget table#wp-calendar th {
	text-align: center;
	font-weight: bold;
}

.widget table#wp-calendar td {
	background: #eee;
	border: 2px solid #fff;
	text-align: center;
}
	.widget table#wp-calendar td:hover {
		background: #ccc;
		cursor: pointer;
	}
	
	.widget table#wp-calendar td#today {
		background: #fff9df;
	}
	
	.widget table#wp-calendar td.pad {
		background: none;
	}

.widget #ajax-loader-members, .widget #ajax-loader-groups {
	margin-right: 7px;
	float: none !important;
}

.widget h2 {
	font-size: 1em;
}
	

	.widget h3.widgettitle, #sidebar h3.widgettitle, .page h2.pagetitle  {
		background:#28669C url(../images/title_bg.gif) no-repeat  left bottom;
		color:#fff;

	}


/*** Directory Styles *******************************************************/

.directory h3, .directory #sidebar h3,.group-create h3 {
	margin-bottom: 3px;
	font-weight: normal;
	background:#28669C url(../images/title_bg.gif) no-repeat left bottom;
	color:#fff;
}

.directory #sidebar h3 {
		background:#28669C url(../images/title_bg.gif) no-repeat left bottom;
		color:#fff;
}

.directory-widget {
	background:#FFFFFF;
	padding:0 0 10px 0px;
	margin-bottom:10px;
}

/*** WordPress Blog Styles ***************************************************/

.alignleft { float: left; }
.alignright { float: right; }

.item-options {
	padding: 5px;
	height: 15px;
}

.post, #comments-template, #compose-reply {
	background:#FFF url(../images/item_list_bg.gif) top left repeat-x;
	padding: 20px 15px;	
	margin:0px 10px 0px 10px;
	border:1px solid #E7E7E6;
}
	#comments-section, #compose-reply {
		background: none;
	}
	
	ol.commentlist { 
		list-style: none; 
		margin: 0;
		padding: 0;
	}
div.post p.postmetadata{
border-bottom:none;
border-top:none;
}
.post p {
	margin-top: 15px;
}

.post ul {
	list-style-type: disc;
	padding-left: 15px;
	margin-top: 15px;
}

.post h3 {
	font: normal 1.6em Georgia, times, serif;
	border: none;
	padding: 0;
	margin: 0;
	
}
	.post h3 a {
		color: #555;
		color:#235C87;
	}

.post p.date, .small, h3 span {
	color: #888;
	font-size: 0.95em;
	margin: 5px 0 15px 0;
}
	.post p.date em {
		color: #f7740a;
		font: italic 1em Georgia, times, serif;
	}

.post .entry {
	margin: 10px 0;
}
	
.post span.tags {
	background: url(../images/tag_icon.gif) center left no-repeat;
	padding-left: 1.6em;
	float: left;
}

.post span.comments {
	float: right;
	background: url(../images/comments_icon.gif) center right no-repeat;
	padding-right: 2.1em;
}

.postmetadata {
	padding: 0.5em 0;
}

.post-details {
	background: #f0f0f0;
	padding: 1em 1.5em;
	margin: 0 0 2em 0;
}

h4.archive {
	font: normal 1.2em Georgia, Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 0.5em;
	margin: -1em 0 1em 0;
}

	/*** Post Content Styles ***/

	.entry blockquote { width: 230px; font-style: normal !important; font-size: 1.1em !important; margin: 5px 15px 5px 0 !important; padding: 0.5em !important; background: #eee; text-align: center; float: left; }
	.entry blockquote.right { width: 230px; font-style: normal !important; font-size: 1.3em !important; margin: 5px 0 5px 15px !important; padding: 0.5em !important; background: #eee; border-width: 3px 0; text-align: center; float: right; }

	.entry p { margin: 0 0 15px 0; }

	.entry ul, .entry ol { margin: 0 0 15px 40px; }
	.entry ul { list-style: disc; }

		.entry li { margin: 0 0 5px 0; }
			.entry ul li ul, .entry ul li ol, .entry ol li ul, .entry ol li ol { margin: 5px 0 5px 30px; }

	.entry dl { margin: 0 0 15px 0; }
		.entry dt { font-weight: bold; }
		.entry dd { margin: 0 0 15px 20px; }
		.entry .gallery dd { margin: 0; }

	.entry .ad { margin: 0 0 15px 15px; float: right; }

	.entry .ad_left { margin: 0 15px 15px 0; float: left; }

	.entry a img { border: 0; }

	.entry img.left { padding: 3px; margin: 5px 15px 5px 0; border: 3px double #bbb; float: left; clear: left; }

	.entry img.right { padding: 3px; margin: 5px 0 5px 15px; border: 3px double #bbb; float: right; clear: right; }

	.entry img.center { display: block; padding: 3px; margin: 0 auto 15px auto; border: 3px double #bbb; float: none; clear: both; }

	.entry img.off { padding: 0 !important; border: none !important; }

	.entry img.stack { clear: none !important; }

	.entry img.wp-smiley { padding: 0 !important; margin: 0 !important; border: none !important; float: none !important; clear: none !important; }

	.entry img.centered, img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry img.alignright {
		padding: 4px;
		margin: 0 0 2px 7px;
		display: inline;
	}

	.entry img.alignleft {
		padding: 4px;
		margin: 0 7px 2px 0;
		display: inline;
	}

	.entry .alignright {
		float: right;
	}

	.entry .alignleft {
		float: left;
	}

	.entry .aligncenter, .entry div.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.entry .wp-caption {
		border: 1px solid #ddd;
		text-align: center;
		background-color: #f3f3f3;
		padding-top: 4px;
		margin: 10px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

	.entry .wp-caption img {
		margin: 0;
		padding: 0;
		border: 0 none;
	}

	.entry dd.wp-caption p.wp-caption-text, .entry .wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		padding: 0 4px 5px 0;
		margin: 0;
	}

	/*** Comments / Comment Form Styles ***/

	textarea#comment {
		width: 100%;
	}

	#commentform { padding: 1em 1.5em; }
	#commentform textarea { width: 100%;}
	#comment-textarea { float: right; width: 80%; }

	.comment-details { float: left; width: 20%; }
	

	.commentlist li {
	       
	        background: #fff;
	        margin-bottom: 1em;
			-moz-border-radius: 3px;
			-khtml-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
	}

		.commentlist li.alt { background: #f0f0f0; }
		.commentlist li img.avatar { 
			padding: 0;
			margin: 0 10px 10px 0;
			float: left;
			
		}
		.commentlist li.alt img.avatar { border-color: #fff !important; }

	.commentmetadata { 
        font-size: 0.9em;
        border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
		.commentmetadata a { color: #888; }

	#commentform input, #commentform textarea {
		margin: 0 5px 8px 0;
	}

/*** Regisration / Activation Styles ***********************************************/

.registration h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.register-section {
	margin: 0 0 30px 0;
}
	.registration .checkbox input { width: auto !important; }
	.registration .radio input { width: auto !important; }
	#basic-details-section input[type=password] { width: 35% !important; }

	#blog-details-section input#signup_blog_url { width: 35%; }

.registration span.label {
	margin-top: 20px;
	font-weight: normal;
}

.registration div.error {
	border: 1px solid #dc7e7e;
	background: #ffc9c9;
	width: 65%;
	padding: 5px;
	margin: 5px 0 10px 0;
}

#basic-details-section input, #basic-details-section textarea, 
#profile-details-section input, #profile-details-section textarea,
input#signup_blog_title {
	width: 90%;
}

#basic-details-section, #blog-details-section, #profile-details-section {
	float: left;
	width: 48%;
}

#profile-details-section {
	float: right;
}

#blog-details-section {
	clear: left;
	margin-top: -10px;
}

#blog-details-section h3 { display: none; }

.registration p.submit { clear: both; }
.registration p.description { font-size: 0.9em; color: #888;}

#signup-avatar {
	margin: 0 25px 25px 0;
	float: left;
}

#signup_form p.submit {
	float: right;
	margin: 0;
	font-size: 1.4em;
}
	

/*** Component Specific Styles ****************************************************/


/**** ACTIVITY STREAMS ***************************/

.activity-list {
	padding: 10px 0 10px 0 !important;
}

.activity-list li {
	position: relative;
	margin: 0px 10px;
	background: url(../images/item_list_bg.gif) repeat-x;
	border:1px solid #E8E8E7;
}
	ul#activity-filter-links li#afilter-blogs a {
		background: url(../images/blog_bullet.gif) 20px 4px no-repeat;		
	}
	
	ul#activity-filter-links li#afilter-profile a {
		background: url(../images/profile_bullet.gif) 0 4px no-repeat;
	}

	ul#activity-filter-links li#afilter-friends a {
		background: url(../images/friends_bullet.gif) 0 4px no-repeat;
	}
	
	ul#activity-filter-links li#afilter-groups a {
		background: url(../images/groups_bullet.gif) 0 4px no-repeat;
	}
	
	ul#activity-filter-links li#afilter-wire a {
		background: url(../images/wire_bullet.gif) 0 4px no-repeat;
	}

	ul#activity-filter-links li#afilter-status a {
		background: url(../images/status_bullet.gif) 0 4px no-repeat;
	}
	
	
		.widget .activity-list li div.activity-avatar img.avatar {
			border-width: 2px;
		}
		
		.internal-page .activity-list li div.activity-avatar img.avatar {
			border-top-width: 3px !important;
			border-right-width: 2px !important;
			border-bottom-width: 2px !important;
			border-left-width: 3px !important;
		}

.activity-list li blockquote {
	padding: 7px 15px 7px 40px;
	background: url(../images/quotes_background.gif) 10px 9px no-repeat #FFF;
	border:1px solid #EEEEED;
	margin: -10px -50px 15px 0;
}
	.activity-list li blockquote p { margin: 0; }

.activity-list li span.time-since {
	font-size: 0.8em;
	color: #999;
}

ul#activity-filter-links {
	margin: 0;
	list-style: none;
	background:#FFF;
	border-top:1px solid #E8E8E8;
	padding: 15px 15px 0px 15px;
	min-height: 22px;
	overflow: hidden;
}
	.activity ul#activity-filter-links {
		margin-top: 35px;
	}

ul#activity-filter-links li {
	float: left;
	margin-bottom: 5px;
}
	ul#activity-filter-links li a {
		display: block;
		padding: 2px 8px 2px 30px;
		background-color: #fff !important;
		background-position: 8px 6px !important;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-webkit-border-top-left-radius:10px;
		margin: 0 5px 0 0;
		border: 1px solid #eee;
		text-decoration: none;
	}
		ul#activity-filter-links li.selected a {
			border: 1px solid #ccc;
			font-weight: bold;
		}
		
		ul#activity-filter-links li#afilter-clear a {
			background: url(../images/error_icon.gif) 0 4px no-repeat;
			border-color: #ffa6ac;
			color: #ff5560;
		}

a.rss-image {
	background: url( ../images/rss_18X18.png) top left no-repeat;
	width: 18px;
	height: 18px;
	margin-top: 3px;
	display: block;
	float: right;
	text-indent: -999em;
	overflow: hidden;
}

#activity-rss p {
		text-align: right;
		font-size: 0.9em;
		margin: -20px 0 5px 0;
}

#activity-rss p a {
	background: url(../images/rss.png) center left no-repeat;
	padding-left: 15px;
}

.widget_bp_activity_widget span.time-since {
	font-size: 11px;
}

.widget_bp_activity_widget ul#site-wide-stream {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

* html .widget_bp_activity_widget ul#site-wide-stream
{
clear:left;
}
.widget_bp_core_recently_active_widget div.item-avatar {
	display: inline;
	margin: 0 5px 5x 0;
}


/**** BLOGS *****************/
.blog-page .page, .directory .page {
	background:#FFF;
	padding:0 0 10px 0;
	margin-bottom:10px;
}

		
#blog-info {
	border-bottom: 1px solid #e1e1e1;
}

.post {
	border-bottom: 1px solid #e1e1e1;
}

#main #content .post h2 {
	font: normal 1.6em Georgia, times, serif;
	border: none;
}
	#main #content .post h2 a {
		color: #555;
	}

.post p.date, .small, h2 span {
	color: #888;
	font-size: 0.95em;
}
	.post p.date em {
		color: #3F3F3F;
		font: italic 1em Georgia, times, serif;
	}
	
.post span.tags {
	background: url(../images/tag_icon.gif) center left no-repeat;
}

.post span.comments {
	background: url(../images/comments_icon.gif) center right no-repeat;
}

.post-details {
	background: #f0f0f0;
}

h4.archive {
	font: normal 1.2em Georgia, Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
}
		
	
	/*---- Blog Signup Form --------*/

	#setupform label {
		font-weight: bold;
	}
		#setupform p.error {
			background-image: url(../images/error_back.gif);
			background-color: #ff3a3a;
			color: #fff;
		}
	
		.suffix_address, .prefix_address {
			font-size: 1.4em;
		}

	#setupform input#blog_title, #setupform input#blogname {
		font-size: 1.4em;
	}
		#setupform input#blogname {
			text-align: right;
		}
	
	#setupform input#submit {
		font-size: 1.4em;
	}
	
/***** FORUMS ***************/

ul#forum-topic-list li {
	position: relative;
	min-height: 0;
	padding-bottom: 0;
}
	.sticky {
		background-image: url( ../images/message_thread_unread_back.gif ) !important;
	}
	
	.closed a.topic-title {
		background: url( ../images/closed.png ) no-repeat center left;
		padding: 0 0 0 20px;
	}
	
	ul#forum-topic-list li span.latest { 
		display: block;
		margin-left: 50px;
	}
	
	ul#forum-topic-list li div.admin-links, ul#topic-post-list li div.admin-links {
		position: absolute;
		top: 1em;
		right: 1em;
		background: #eee;
		display: none;
		padding: 0.1em 0.5em;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		margin-left: 50px;
		margin-bottom: 15px;
		font-size: 11px;
		color: #888;
	}
		ul#forum-topic-list li:hover div.admin-links, ul#topic-post-list li:hover div.admin-links { display: inline-block; }

ul#topic-post-list li .poster-meta {
	color: #888;
}

ul#topic-post-list li .poster-meta .avatar {
	float: none !important;
	margin: 0 0.3em 0 0;
	vertical-align: middle;
}

ul#topic-post-list .post-content {
	margin: 1em 0 0 14px;
	border-left: 1px solid #ccc;
	padding-left: 22px;
}

ul#topic-post-list li#topic-meta {
	background-image: url( ../images/message_thread_unread_back.gif ) !important;
	min-height: 20px;
}

	ul#topic-post-list li#topic-meta h3 {
		margin: 12px 0 10px 0;
		font-size: 20px;
	}


ul#topic-post-list li input#submit_reply, input#submit_topic {
	width: auto;
}

div.latest-post {
	font-size: 0.9em;
	color: #888;
	margin-left: 70px;
}

div#post-new-topic, div#edit-topic, div#edit-post, div#post-topic-reply {
	background: url( ../images/message_thread_unread_back.gif ) top left repeat-x;
	padding: 15px
}
	div#edit-post, div#edit-topic { background-image: url( ../images/message_thread_back.gif ); }

div#post-new-topic input,
div#post-new-topic textarea,
div#edit-topic input,
div#edit-topic textarea,
div#edit-post input,
div#edit-post textarea,
div#post-topic-reply input,
div#post-topic-reply textarea {
	padding: 5px;
}
	div#post-new-topic label, div#edit-topic label, div#edit-post lable div#post-topic-reply label {
		display: block;
		margin: 10px 0 3px 0;
	}
	
	div#edit-post textarea {
		height: 150px;
		width: 98%;
	}

	input#topic_title { width: 80%; }
	input#topic_tags { width: 60%; }
	textarea#topic_text, textarea#reply_text { width: 98%; height: 150px; }

	input#submit_topic, input#submit_reply {
		display: block;
		margin-top: 20px;
	}

div#global-forum-topic-filters ul {
	margin: 0 10px 0 10px;
	padding: 0;
	list-style: none;
	background: url(../images/item_list_bg.gif) top left repeat-x;
	border:1px solid #ECECEC;
	padding: 15px;
	min-height: 22px;
	overflow: hidden;
}

div#global-forum-topic-filters ul li {
	float: left;
	margin-bottom: 5px;
}
	div#global-forum-topic-filters ul li a {
		display: block;
		padding: 2px 8px;
		background-color: #fff !important;
		background-position: 8px 6px !important;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin: 0 5px 0 0;
		border: 1px solid #eee;
		text-decoration: none;
	}
		div#global-forum-topic-filters ul li.selected a {
			border: 1px solid #ccc;
			font-weight: bold;
			color: #555;
		}

div#forum-dir-list {
	position: relative;
	margin-top: 30px;
}
	div#forum-dir-list div.pagination {
		position: absolute;
		top: -25px;
	}
	
table#global-forum-topic-list {
	width: 97%;
	margin: 0 10px;
}
		table#global-forum-topic-list tr.alt {
			background: url( ../images/message_thread_back.gif ) 0 -2px;
		}
		
		table#global-forum-topic-list td {
			border-top: 1px solid #eee;
			position: relative;
		}
			table#global-forum-topic-list td p.topic-text {
				color: #888;
				font-size: 0.9em;
			}
		
		table#global-forum-topic-list tr th, table#global-forum-topic-list td.td-postcount,
		table#global-forum-topic-list td.td-freshness { 
			text-align: center;
		}

		
		table#global-forum-topic-list tr th#th-title, table#global-forum-topic-list tr th#th-poster,
		table#global-forum-topic-list tr th#th-group { text-align: left; }
		
		table#global-forum-topic-list tr td, table#global-forum-topic-list tr th {
			padding: 5px 10px;
			vertical-align: middle;
		}
		
		table#global-forum-topic-list td.td-freshness {
			font-size: 0.9em;
			color: #888;
		}
		
		table#global-forum-topic-list td.td-poster, table#global-forum-topic-list td.td-group  {
			min-width: 130px;
		}
		
		table#global-forum-topic-list img.avatar { float:left; }
		
		table#global-forum-topic-list div.poster-name, table#global-forum-topic-list div.object-name {
			margin-left: 35px;
		}

	table#global-forum-topic-list th#th-title {
		width: 40%;
	}
	
	table#global-forum-topic-list th#th-postcount {
		width: 1%;
	}
	
	table#global-forum-topic-list td img {
		vertical-align: middle;
		margin-right: 4px;
		border-width: 3px !important; 
	}

div#popular-group-forum-listing {
	overflow: hidden;
	background:#FFF;
	margin-bottom:10px;
	padding-bottom:10px;
	
}

#forums-directory-listing{
	background:#FFF;
}
	div#popular-group-forum-listing div.group-forum {
		width: 44%;
		float: left;
		background: url( ../images/item_list_bg.gif) top left repeat-x;
		padding: 15px 1.5%;
		margin-left:10px;
		margin-top:5px;
		border:1px solid #ECECEC;
	}
		div.group-forum div.item-avatar {
			float: left;
		}
		
		div.group-forum div.item {
			margin-left: 70px;
		}
			div.group-forum div.item div.item-title {
				font-size: 1.2em;
				font-family: Georgia, times, serif;
			}
			
			div.group-forum div.desc {
				font-size: 0.95em;
				color: #888;
				margin-top: 5px;
			}

/**** FRIENDS *****************/

ul#friend-list li {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}


#predefined-lists li {
	padding: 0.25em 0;
}

label#friend-search-label {
	font-size: 0.9em;
}

#search-forums-form, #search-blogs-form, #search-groups-form, #search-members-form{
	margin:10px 0px 0px 10px;
}

.profile-data {
	font-size: 0.9em;
	color: #777;
	width: 65%;
	margin-left: 70px;
}

.profile-data .field-name {
	font-weight: bold;
	margin-bottom: -2px;
}

/**** GROUPS *****************/

div.sub-options {
	border-left: 8px solid #eee;
}

#create-group-form, #group-settings-form {
	width: 100%;
	margin: 0 0 35px 0;
}

#create-group-form ul, #group-settings-form ul {
	margin: 5px 0 0 33px;
}
	#group-settings-form .bp-widget ul {
		margin-left: 0;
	}
	
	#invite-list { margin-bottom: 25px; }
	
	#invite-list ul, ul#friend-list {
		margin: 0;
	}
		#invite-list input { width: auto !important; }
	
#create-group-form textarea, #group-settings-form textarea {
	height: 120px;
}

#create-group-form .checkbox, #create-group-form .radio ul, #group-settings-form .checkbox, #group-settings-form .checkbox {
	margin-bottom: 15px;
}

	#create-group-form img.avatar, #group-settings-form img.avatar {
		border: none;
		margin-bottom: 20px;
	}

#create-group-form ul li, #group-settings-form ul li {
	
	padding-left: 5px;
}
	#invite-list ul li {
		list-style: none;
		padding: 0;
	}
		ul#friend-list li { list-style: none; }

ul#group-list li, ul#member-list li, ul#blog-list li, ul#comment-list li, ul.item-list li {
	background: #FFF url(../images/item_list_bg.gif) top left repeat-x;
}
	ul.item-list li.banned-user img.avatar {
		border-color:0px !important;
	}
		ul.item-list li.banned-user a { color: red; }
	
#group-list li span.small, #member-list li span.small, #comment-list li span.small, ul.item-list li span.small {
	font-size: 0.95em;
	color: #888;
}
	h5 span.small a { color: #888; text-decoration: underline; }

#group-list p.desc, ul.item-list p.desc {
	font-size: 0.9em;
}

#group-admins img.avatar, #group-mods img.avatar {
	border-width: 3px;
	width: 30px;
	float: left;
	margin-right: 8px;
}

#group-name p.status {
	font: italic 1.6em "Georgia", Times, serif;
	margin: -10px 0 15px 0;
	color: #888;
}


.request-pending {
	text-transform: uppercase;
	font: normal 0.9em Georgia, Times, serif;
	color: #888;
	letter-spacing: 0.5px;
}

#random-groups-list .item-meta {
	margin: 10px 0;
	width: 45%;
	line-height: 180%;
}
	#random-groups-list .desc, #random-groups-list .meta {
		font-size: 0.9em;
	}
	
	#random-groups-list .desc {
		margin-left: 70px;	
	}
	
	#random-groups-list .action {
		text-align: right;
		margin-top: -20px;
		padding-right: 10px;
	}

#previous-next {
	margin: 35px 0 0 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #ddd;
	clear: left;
}
	#previous-next input#group-creation-previous {
		width: auto;
	}
	
	#previous-next input#group-creation-next, #previous-next input#group-creation-finish {
		width: auto;
		margin-left: 20px;
	}

#invite-list {
	height: 275px;
	overflow: auto;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	background: #f5f5f5;
	width: 160px;
}

/**** MESSAGING *****************/

table#message-threads {
	width: 100%;
}
	table#message-threads td {
		vertical-align: middle;
		padding: 10px;
	}
		table#message-threads td p {
			margin: 0;
		}

/* .message-box -- holds each message in a thread */
div.message-box {
	padding: 15px;
	overflow: hidden;
}
	div.message-box .message-metadata {
		float: left;
		width: 100px;
	}
		div.message-box .message-metadata .avatar {
			width: 30px;
			margin-bottom: 10px;
		}
		
		div.message-box .message-metadata h3 {
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
			font-size: 1em;
			margin: 0 0 5px 0;
		}
		
		div.message-box .message-metadata small {
			font-size: 0.9em;
			color: #888;
		}
		
		div.message-box .message-metadata h3 {
			font-size: 1.1em;
		}
	div.message-box .message-content {
		margin-left: 130px;
	}

.ajax_reply {
	padding: 15px;
}

table#message-threads tr, .message-box {
	background: url(../images/message_thread_back.gif) top left repeat-x;
}

table#message-threads tr.unread {
	background-image: url(../images/message_thread_unread_back.gif);
}
	td p.date {
		color: #888;
		font-size: 0.95em;
	}
			
.avatar-box { 
	border: none !important;
}

	
	.avatar-box small {
		line-height: 1.5;
		font-size: 0.9em;
		color: #888;
	}
	
#message_content_tbl { border: 1px solid #ddd; }
.mceToolbar, .mceStatusbar { background: #eee; }
.mceToolbar a { color: #bbb !important; }
		
div.ajax_reply, div.error-box {
	text-align: center;
	background: #EAF3FA;
	color: #2583AD;
}

div.error-box {
	background-image: url(../images/error_back.gif);
	background-color: #ff3a3a;
	color: #fff;
}

#send_message_form {
	margin-top: 15px;
}

#send_message_form input {
	font-size: 1.4em;
}

#send_message_form textarea {
	height: 200px;
	font-size: 1.1em;
	width: 98%;
}

#send_message_form input#send, input#send_reply_button {
	font-size: 1.2em;
	font-weight: bold;
}
	
form#send-reply textarea {
	width: 98%;
}

table#message-threads a.delete {
	overflow: hidden;
	text-indent: -999px;
	display: block;
	float: left;
	margin-top: 2px;
	background: url(../images/error_icon.gif) top left no-repeat;
	width: 12px;
	height: 13px;
}

span.unread-count {
	background: #f7740a;
	border: 2px solid #f7740a;
	padding: 0 0.5em;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	.read .unread-count { display: none; }

.messages-options {
	font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
	text-transform: none;
	color: #888;
}
	.messages-options a { }

/**** PROFILES ************************/

table.profile-fields tr { position: relative; }

table.profile-fields tr.alt, table.wp-profile-fields tr.alt {
	background: #f0f0f0;
}

table.profile-fields tr td.label, table.wp-profile-fields tr td.label {
	border-right: 1px solid #dadada;
	font-weight: bold;
	position: relative;
}

td.data p {
	margin: 0.2em 0;
}

table.profile-fields, table.wp-profile-fields {
	width: 100%;
}
	table.profile-fields tr td, table.wp-profile-fields tr td {
		padding: 0.5em 1em;
	}
	
	table.profile-fields tr td.label, table.wp-profile-fields tr td.label {
		width: 130px;
	}

#profile-edit-form p.description {
	font-size: 0.9em;
	color: #888;
	margin-top: 5px;
}
	div#delete-avatar-button {
		margin-bottom: 25px;
	}

#profile-edit-form .radio label, #profile-edit-form .checkbox label {
	margin-right: 15px;
}

/**** SETTINGS SCREEN ***************************/

form#settings-form label span {
	color: #888;
	font-size: 0.9em;
}

input.settings-input {
	padding: 0.2em;
	width: 65%;
	margin-bottom: 15px;
}
	input.small { width: 45%; }
	input.auto { width: auto; }

	table.notification-settings td {
		padding: 3px 0;
	}
	
	
input.settings-input {
	color: #777;
	font-family: inherit;
	font-size: 1.3em;
}

	table.notification-settings th {
		font-weight: bold;
	}
	
	table.notification-settings tr {
		border-bottom: 1px solid #eee;
	}
	

/*** Footer ***********************************************************************/

#footer {
	clear: both;
	background: url(../images/footer_bg.gif) repeat-x bottom #3172AE;
	font: normal 1.1em Georgia, times, serif;
	height: 35px;
	position: relative;
	z-index: 999;
	padding:25px 0px 0px 0px;
	text-shadow:none;
}

#footer p{
	color:#ddd;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:20px;
	display:inline;
}

#footer a{
	color:#A0BDD9;
}

